@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

.background-image {
    background-image: url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/chatbg.png");
    background-size: cover;
    font-family: "Roboto";
    height: 100vh;
    width: 100vh;
    color: #ffffff;
}

.rahul-head {
    background-color: #323f4b;
    text-align: center;
}

.paragraph-a {
    background-color: #47a3f3;
    padding: 10px;
    border-top-left-radius: 07px;
    border-top-right-radius: 07px;
    border-bottom-left-radius: 07px;
    text-align: right;

}

.paragraph-b {
    background-color: #52606d;
    padding: 10px;
    text-align: left;
    border-top-left-radius: 07px;
    border-top-right-radius: 07px;
    border-bottom-right-radius: 07px;

}